@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,900&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', 'Segoe UI', 'Roboto', -apple-system,
    BlinkMacSystemFont, 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
